@model IEnumerable<Proyecto.Models.Genero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nvarchNombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nvarchNombre)
            </td>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Ver Artistas", "_TraerArtistasPorGenero", new { id = item.ID })
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Inicio", "Index", new { controller = "Home" })
</div>

@*@Html.ActionLink("Create New", "Create")
    <h2>Combos en cascada</h2>
    <div class="form-group">
        <label>Géneros</label>
        <select id="generos" class="form-control">
            @foreach (var item in Model)
            {
            <option value="@item.ID">
                @item.varchNombre
            </option>
            }
        </select>
    </div> *@
