@using Proyecto.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

<div class="container-fluid">
    <div class="row baja justify-content-center align-content-center">
        <div class="card card-alternativo mb-3" style="width:50%">
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <p class="h4 text-center py-4">Iniciar Sesión</p>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="md-form">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.LabelFor(m => m.UserName, new { @class = "font-weight-light" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="md-form">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.LabelFor(m => m.Password, new { @class = "font-weight-light" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-center py-4 mt-3">
                        <button class="button-gnrl" type="submit">Entrar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
