@model Proyecto.Models.Pista

@{
    ViewBag.Title = "Agregar Canción";
}

<div class="container-fluid">
    <div class="row baja3">
        <div class="col-12 p-0">
            <h2>Agregar Canción</h2>
        </div>
        <div class="col-12 p-0 pl-5 pr-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.nvarchNombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xs-12 pl-2 pr-2">
                        @Html.EditorFor(model => model.nvarchNombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nvarchNombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.intDuracion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xs-12 pl-2 pr-2">
                        @Html.EditorFor(model => model.intDuracion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.intDuracion, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IDDisco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-xs-12 pl-2 pr-2">
                        @Html.DropDownList("IDDisco", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDDisco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 p-0 pb-5 pl-2">
                        <input type="submit" value="Agregar" class="button-gnrl" />
                        @Html.ActionLink("Volver a Canciones", "Index", new { controller = "Pista" }, new { @class = "button-gnrl" })
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
