@model Proyecto.Models.Pista

@{
    ViewBag.Title = "Borrar canción";
}

<div class="container-fluid">
    <div class="row baja2">
        <div class="col-12">
            <h3>¿Estás seguro de que querés borrar la canción: @Model.nvarchNombre?</h3>
        </div>
        <div class="col-12">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.nvarchNombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nvarchNombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.intDuracion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.intDuracion) min
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Disco.varbPortada)
                </dt>

                <dd>
                    <img src="@Url.Action("GetImage", "Disco" , new { controller = "Disco", discoID = Model.Disco.ID })" width="150" height="200" />
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="button-gnrl" /> 
                    @Html.ActionLink("Volver", "Index", new { controller = "Pista", id = Model.ID }, new { @class = "button-gnrl" })
                </div>
            }
        </div>
    </div>
</div>
