@model Proyecto.Models.Pista

@{
    ViewBag.Title = "Editar Canción";
}

    <div class="container-fluid">
        <div class="row baja2">
            <div class="col-12">
                <h3>Editar canción: @Model.nvarchNombre</h3>
            </div>
            <div class="col-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.nvarchNombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nvarchNombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nvarchNombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.intDuracion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.intDuracion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.intDuracion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IDDisco, "Álbum", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("IDDisco", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDDisco, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="button-gnrl" />
                                @Html.ActionLink("Volver", "Index", new { controller = "Pista", id = Model.ID }, new { @class = "button-gnrl" })
                            </div>
                        </div>
                    </div>
                }
                </div>
            </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
