@model IEnumerable<Proyecto.Models.Disco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.varbPortada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nvarchNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intAño)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artista.nvarchNombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @if (item.varbPortada != null)
            {
                <div class="photo-display">
                    <img class="photo-display-img" src="@Url.Action("GetImage", "Disco", new { discoID = item.ID })" width="150" height="200" />
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nvarchNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intAño)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artista.nvarchNombre)
        </td>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
        </tr>
        }

    </table>
