@model Proyecto.Models.Artista

@{
    ViewBag.Title = "Borrar Artista";
}
    <div class="container-fluid">
        <div class="row baja2">
            <div class="col-12">
                <h3>¿Estás seguro de que querés borrar al artista: @Model.nvarchNombre?</h3>
            </div>
            <div class="col-12">
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.varbImagen)
                    </dt>
                    @if (Model.varbImagen != null)
                    {

                        <dd>
                            <img src="@Url.Action("GetImage", "Artista", new { artistaID = Model.ID })" width="150" height="200" />
                        </dd>
                    }
                    <dt>
                        @Html.DisplayNameFor(model => model.nvarchNombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nvarchNombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nvarchPais)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nvarchPais)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.intAño)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.intAño)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.nvarchBiografia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.nvarchBiografia)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Genero.nvarchNombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Genero.nvarchNombre)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" onclick="return DeleteWarning()" value="Borrar" class="button-gnrl" /> 
                        @Html.ActionLink("Volver", "Details", new { controller = "Artista", id = Model.ID }, new { @class = "button-gnrl" })
                    </div>
                }
            </div>
        </div>
    </div>

<script type="text/javascript">
        function DeleteWarning() {
            if (confirm("Si borra este registro estará borrando todas las relaciones dependientes de él, ¿desea continuar de todas formas?"))
                return true;
            else
                return false;
        }
</script>