@model Proyecto.Models.Artista

@{
    ViewBag.Title = Model.nvarchNombre;
}
<div class="container-fluid">
    <div class="row baja2">
        <div class="col-12 mb-3">
            <h2 id="artista">Artistas</h2>
        </div>
        <div class="col-12 pb-2">
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "button-gnrl" })
            @Html.ActionLink("Borrar", "Delete", new { id = Model.ID }, new { @class = "button-gnrl" })
            @Html.ActionLink("Volver a Artistas", "Index", null, new { @class = "button-gnrl" })
            <!-- Si me logueo como Admin, permito agregar un álbum. -->
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @Html.ActionLink("Agregar Álbum", "Create", new { controller = "Disco" }, new { @class = "button-gnrl" })
            }
        </div>
    </div>
    <div class="row justify-content-center">
        @if (Model.varbImagen != null)
        {
            <div class="container py-3 pl-3 pr-3">
                <div class="card">
                    <div class="row">
                        <div class="col-md-4">
                            <img src=" @Url.Action("GetImage", "Artista", new { artistaID = Model.ID })" style="max-width:100%; max-height:100%" />
                        </div>
                        <div class="col-md-8 px-3 pb-2">
                            <div class="card-block px-3 pt-2">
                                <div class="row justify-content-start">
                                    <div class="col-12 pt-2">
                                        <h4 class="card-title">@Model.nvarchNombre</h4>
                                        <h5 class="card-title">Año: @Model.intAño</h5>
                                    </div>
                                </div>
                                <p class="card-text pt-4 pl-2">@Model.nvarchBiografia</p>
                            </div>
                            <div class="row card-body">
                                <!-- Vista parcial que me muestra todos los discos de un artista. -->
                                @Html.Partial("_TraerDiscosPorArtista")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-12 pt-3 pb-5">
            @Html.ActionLink("Inicio", "Index", new { controller = "Home" }, new { @class = "button-gnrl" })
        </div>
    </div>
</div>
