@model Proyecto.Models.Artista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.varbImagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.varbImagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nvarchImageMimeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nvarchImageMimeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.varchNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.varchNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.varchPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.varchPais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intAño)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intAño)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.varchBiografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.varchBiografia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.varchNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.varchNombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
