@model IEnumerable<Proyecto.Models.Artista>

@{
    ViewBag.Title = "Artistas";
}

<div class="container-fluid">
    <div class="row baja2">
        <div class="col-2 ml-5 mr-4">
            <h2 class="secciones">Artistas</h2>
        </div>
        <!-- Formulario para el método de búsqueda por filtro de Index -->
        @using (Html.BeginForm("Index", "Artista", FormMethod.Get))
        {
            <div id="form-buscar" class="row">
                <div class="col-6 col-xs-6 col-lg-6 col-md-6">
                    <!-- Al TextBox le paso como ID el parámetro "filtro" para poder filtrar. -->
                    @Html.TextBox("filtro", null, new { @class = "form-control form-control-sm w-100 search", id = "input-search" })
                </div>
                <div class="col-2 col-xs-2 col-lg-2 col-md-2 mr-3 mt-2">
                    <input type="submit" class="button-gnrl" value="Buscar" />
                </div>
                <div class="col-12 col-xs-12 col-lg-2 col-md-2 mt-2 ml-3">
                    @Html.ActionLink("Todos", "Index", new { controller = "Artista" }, new { @class = "button-todos" })
                </div>
            </div>
        }
        <!-- Si el usuario está logueado como Admin, podrá agregar un Artista -->
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="row justify-content-start">
                <div class="col-12 mt-2 ml-3">
                    @Html.ActionLink("Agregar Artista", "Create", new { controller = "Artista" }, new { @class = "button-gnrl" })
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid p-0 mt-5 mb-5 pb-5">
    <div class="row">
        <div class="col-12">
            <div class="cards-list">
                <!-- Agrego la lista de Artistas -->
                @foreach (var item in Model)
                {
                    <div id="card-artista" class="card 1">
                        <div id="card-artista" class="card_image">
                            @if (item.varbImagen != null)
                            {
                                <div>
                                    <a href='@Url.Action("Details", "Artista", new { id = item.ID })'><img src="@Url.Action("GetImage", "Artista", new { artistaID = item.ID })" /></a>
                                </div>
                            }
                        </div>
                        <!-- En cada item de Artista, el usuario podrá ingresar a los detalles del artista -->
                        <div class="card_title">
                            @Html.ActionLink(@item.nvarchNombre, "Details", new { id = item.ID }, new { @class = "titulo-artista" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Botón para volver al Home -->
    <div id="btn-volver" class="row">
        <div class="col-12 d-flex justify-content-start mt-5 pl-5">
            @Html.ActionLink("Inicio", "Index", new { controller = "Home" }, new { @class = "button-gnrl" })
        </div>
    </div>
</div>


