@model Proyecto.Models.Artista

@{
    ViewBag.Title = "TraerDiscosporArtista";
}

<h2>@Model.nvarchNombre</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Discos.FirstOrDefault().nvarchNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discos.FirstOrDefault().varbPortada)
        </th>
    </tr>

@foreach (var item in Model.Discos) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nvarchNombre)
        </td>
        <td>
            @if (item.varbPortada != null)
            {
                <div class="photo-display">
                    <img class="photo-display-img" src="@Url.Action("GetImage", "Disco", new { discoID = item.ID })" width="150" height="200" />
                </div>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) 
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
