<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - La Disquera</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Quicksand:700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav id="navegador" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("La Disquera", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "logo" })
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        @Html.ActionLink("Home", "Index", new { controller = "Home" }, new { @class = "nav-item nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Artistas", "Index", new { controller = "Artista" }, new { @class = "nav-item nav-link" })
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!-- Si mi usuario está logueado como Admin, le muestro los siguientes links en el nav -->
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>
                            @Html.ActionLink("Géneros", "Index", new { controller = "Genero" }, new { @class = "nav-item nav-link" })
                        </li>
                    }
                        <li>
                            @Html.ActionLink("Álbumes", "Index", new { controller = "Disco" }, new { @class = "nav-item nav-link" })
                        </li>
                        <li>
                            @Html.ActionLink("Canciones", "Index", new { controller = "Pista" }, new { @class = "nav-item nav-link" })
                        </li>
                    <!-- Vista parcial para el logueo del administrador. -->
                        <li>
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
            </div>
        </nav>
    </header>
    <div class="body-content">
        @RenderBody()
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-left">
                        <h6 class="text-muted lead">CONTACTO:</h6>
                        <h6 class="text-muted">
                            Celular: 2254425243.<br/>
                            E-mail: nataliadamilano25@gmail.com<br />
                        </h6>
                    </div>
                    <div class="col-xs-12 col-md-6 text-right">
                        <h6 class="text-muted lead">Redes Sociales</h6>
                        <div class="redes-footer">
                            <a href="https://www.twitter.com"><img src="~/Images/tuita.png" alt="Twitter"></a>
                            <a href="https://www.instagram.com"><img src="~/Images/instagram.png" alt="Instagram"></a>
                            <a href="https://www.facebook.com"><img src="~/Images/feibu.png" alt="Facebook"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <p class="text-muted small">Natalia Damilano &#169;@DateTime.Now.Year.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
