@model IEnumerable<Proyecto.Models.Genero>
@{
    ViewBag.Title = "Home Page";
}


<main role="main">
    <div class="row">
        <div id="titulo" class="col-12 col-xs-12 col-lg-12 col-md-12">
            <h1><span id="spandos">Buscá</span>, <span id="spandos">descubrí</span> y <span id="spandos">disfrutá</span> de la <span id="spanuno">mejor</span> música.</h1>
            <h2 class="subtitulo">Los <span id="spanuno">mejores</span> artistas.</h2>
        </div>
    </div>
</main>

<section id="descubri">
    <div class="content">
        <div class="row">
            <div class="col-12 col-xs-12 col-lg-12 col-md-12">
                <h2 class="descubri">Descubrí.</h2>
                <hr id="primerhr" class="barra">
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.OrderBy(g => g.ID))
            {
                <div class="col-12 col-xs-3 col-lg-3 col-md-3">
                    <ul class="ch-grid">
                        <li>
                            @if (item.ID == 5)
                            {
                                <div class="ch-item ch-img-1">
                                    <div class="ch-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "_TraerArtistasPorGenero", new { id = item.ID })
                                        </h3>
                                    </div>
                                </div>
                            }
                            else if (item.ID == 6)
                            {
                                <div class="ch-item ch-img-2">
                                    <div class="ch-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "_TraerArtistasPorGenero", new { id = item.ID })
                                        </h3>
                                    </div>
                                </div>
                            }
                            else if (item.ID == 7)
                            {
                                <div class="ch-item ch-img-3">
                                    <div class="ch-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "_TraerArtistasPorGenero", new { id = item.ID })
                                        </h3>
                                    </div>
                                </div>

                            }
                            else if (item.ID == 8)
                            {
                                <div class="ch-item ch-img-4">
                                    <div class="ch-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "_TraerArtistasPorGenero", new { id = item.ID })
                                        </h3>
                                    </div>
                                </div>

                            }
                        </li>
                    </ul>
                </div>
            }

                <!-- <div class="col-12 col-xs-3 col-lg-3 col-md-3">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-2">
                        <div class="ch-info">
                            <h3><a href="#">Punk Rock</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-xs-3 col-lg-3 col-md-3">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-3">
                        <div class="ch-info">
                            <h3><a href="#">Rock</a></h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-12 col-xs-3 col-lg-3 col-md-3">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-4">
                        <div class="ch-info">
                      @*      <h3><a href="@Url.Action("Index", "Disco")" title="List View" class="links">Rock<br>& Roll</a></h3> *@
                        </div>
                    </div>
                </li>
            </ul>
        </div> -->
            </div> 
        <div class="row">
            <div class="col-12 col-xs-12 col-lg-12 col-md-12">
                <hr id="segundohr" class="barra">
            </div>
        </div>
    </div>
</section>

@Html.Action("_UltimasAdicionesDiscos", "Disco", new { number = 4 })