@model IEnumerable<Proyecto.Models.Genero>
@{
    ViewBag.Title = "Home Page";
}


<main role="main">
    <div class="row">
        <div id="titulo" class="col-12 col-xs-12 col-lg-12 col-md-12 d-flex justify-content-start">
            <h1>Buscá, descubrí y disfrutá de <br /> la mejor música.</h1>
        </div>
    </div>
</main>

<section id="descubri">
    <div class="content">
        <div class="row">
            <div class="col-12 col-xs-12 col-lg-12 col-md-12">
                <h2 class="descubri">Descubrí.</h2>
                <hr id="primerhr" class="barra">
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.OrderBy(g => g.ID))
            {
                <div class="col-12 col-xs-3 col-lg-3 col-md-3">
                    <ul class="ch-grid">
                        <li>
                            @if (item.ID == 5)
                            {
                                <div class="ch-item ch-img-1">
                                    <div class="ch-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "_TraerArtistasPorGenero", new { id = item.ID })
                                        </h3>
                                    </div>
                                </div>
                            }
                            else if (item.ID == 6)
                            {
                                <div class="ch-item ch-img-2">
                                    <div class="ch-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "_TraerArtistasPorGenero", new { id = item.ID })
                                        </h3>
                                    </div>
                                </div>
                            }
                            else if (item.ID == 7)
                            {
                                <div class="ch-item ch-img-3">
                                    <div class="ch-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "_TraerArtistasPorGenero", new { id = item.ID })
                                        </h3>
                                    </div>
                                </div>

                            }
                            else if (item.ID == 8)
                            {
                                <div class="ch-item ch-img-4">
                                    <div class="ch-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "_TraerArtistasPorGenero", new { id = item.ID })
                                        </h3>
                                    </div>
                                </div>

                            }
                        </li>
                    </ul>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-12 col-xs-12 col-lg-12 col-md-12">
                <hr id="segundohr" class="barra">
            </div>
        </div>
    </div>
</section>
<section id="descubri">
    <div class="content">
                @Html.Action("_UltimasAdicionesDiscos", "Disco", new { number = 3 })
        </div>
</section>