@model IEnumerable<Proyecto.Models.Genero>
@{
    ViewBag.Title = "Home Page";
}
    <main role="main">
        <div class="row">
            <div id="titulo" class="col-12 col-xs-12 col-lg-12 col-md-12 ml-2 d-flex justify-content-start">
                <h1>Buscá, descubrí y disfrutá de <br /> la mejor música.</h1>
            </div>

        </div>
    </main>

<section id="descubri">
    <div class="row">
        <div class="col-12 col-xs-12 col-lg-12 col-md-12">
            <h2 class="descubri">Descubrí</h2>
            <hr id="firsthr" class="barra">
        </div>
    </div>
    <div class="container-fluid pr-2">
        <div class="row pr-5">
            @foreach (var item in Model.OrderBy(g => g.ID))
            {
                <div class="col-12 col-xs-12 col-lg-3 col-md-6">
                    <ul class="g-grid">
                        <li>
                            @if (item.ID == 5)
                            {
                                <div class="g-item g-img-1">
                                    <div class="g-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "TraerArtistasPorGenero", new { controller = "Genero", id = item.ID })
                                        </h3>
                                    </div>
                                </div>
                            }
                            else if (item.ID == 6)
                            {
                                <div class="g-item g-img-2">
                                    <div class="g-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "TraerArtistasPorGenero", new { controller = "Genero", id = item.ID })
                                        </h3>
                                    </div>
                                </div>
                            }
                            else if (item.ID == 7)
                            {
                                <div class="g-item g-img-3">
                                    <div class="g-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "TraerArtistasPorGenero", new { controller = "Genero", id = item.ID })
                                        </h3>
                                    </div>
                                </div>

                            }
                            else if (item.ID == 8)
                            {
                                <div class="g-item g-img-4">
                                    <div class="g-info">
                                        <h3>
                                            @Html.ActionLink(item.nvarchNombre, "TraerArtistasPorGenero", new { controller = "Genero", id = item.ID })
                                        </h3>
                                    </div>
                                </div>

                            }
                        </li>
                    </ul>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xs-12 col-lg-12 col-md-12">
            <hr id="secondhr" class="barra">
        </div>
    </div>
</section>
<section id="descubri">
    @Html.Action("_UltimasAdicionesDiscos", "Disco", new { number = 3 })
</section>
